{% extends 'base.html' %}
{% load static %}

{% block extra-head %}
<link rel="stylesheet" href="{% static 'home.css'%}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Create a new Owner</h1>
    <form method="post">
        {% csrf_token %}
        <label>Username</label>
        <input title="username"/>
        <label>Username</label>
        <input title="password"/>
        <button type="submit" class="btn btn-dark">Login</button>
    </form>
    <a type="button" class="btn btn-warning" href="{% url 'register' %}">Register!</a>
</div>
{% endblock %}